<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">






<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Cadastro de Telefones</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="styles">

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css" media="screen,projection" />
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection" />


	<style>
		table.striped>tbody>tr:nth-child(odd) {
			background-color: rgba(158, 154, 154, 0.3);
		}
	</style>
</head>

<nav>
	<div class="nav-wrapper">
		<a href="#!" class="brand-logo">Reflect</a>
		<ul class="right hide-on-med-and-down">
			<li><a class="waves-effect waves-light btn">Button</a></li>
			<li><a class="waves-effect waves-light btn">Button <i class="material-icons right">cloud</i></a></li>
			<li><a class="waves-effect waves-light btn-large">Large Button</a></li>
		</ul>
	</div>
</nav>


<body>
	<div class="container"></div>


	<!-- Page Content goes here -->


	<h3>Spring Boot + Thymeleaf + Material Design Lite</h3><br />
	<h5>Cadastro de Telefones</h5><br /><br />
	<div class="row">
		<div class="input-field col s12">
			<a href="/cadastropessoa" class="waves-effect waves-light btn">Cadastro Pessoa</a>

		</div>
	</div>

	<!-- p = variavel da view -->
	<!-- pessoaobj = variavel do backend que vem do banco -->
	<div th:each=" p: ${pessoaobj}">

		<div class="row">
			<div class="input-field col s12">
				<p>ID: <span th:text="${p.id}"></span></p>
				<p>Nome: <span th:text="${p.nome}"></span></p>
				<p>Sobrenome: <span th:text="${p.sobrenome}"></span></p>
				<p>Idade: <span th:text="${p.idade}"></span></p>

			</div>

		</div>

	</div>

	<br />
	<h5>Cadastro de Telefones</h5>
	<br />

	<br />
	<div th:each="m : ${msg}">
		<span th:text="${m}"> </span>
	</div>
	<br />



	<div class="row">
		<form class="col s12" th:action="@{/addfonePessoa/{pessoaid}(pessoaid=${pessoaobj.id})}" method="POST"
			onsubmit="return validarCampos()?true : false">
			<div class="row">
				<div class="input-field col s6">

					<label for="numero" class="active">Número</label>
					<input name="numero" id="numero" class="validate">

				</div>
				<div class="input-field col s6">

					<label for="tipo" class="active">Tipo</label>
					<input name="tipo" id="tipo" class="validate">

				</div>

			</div>

			<div class="row">

				<div class="input-field col s6">

					<button class="btn waves-effect waves-light" type="submit" name="action">Adicionar</button>

				</div>

			</div>

		</form>
	</div>

	<div class="row">
		<div class="input-field col s12">
			<table class="striped">

				<thead>
					<tr>
						<th>Telefone</th>
						<th>Tipo</th>
						<th>Excluir</th>
					</tr>
				</thead>

				<tr th:each=" fone: ${telefones}">
					<td th:text="${fone.numero}"></td>
					<td th:text="${fone.tipo}"></td>
					<td><a th:href="@{/removertelefone/{idtelefone}(idtelefone=${fone.id})}">Excluir</a></td>

				</tr>

			</table>

		</div>
	</div>




	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>

	</div>



	<script type="text/javascript">
		function validarCampos() {

			numero = document.getElementById('numero').value;
			numero = document.getElementById('tipo').value;

			if (numero === '') {
				alert('Numero deve ser informado');
				return false;
			}
			else if (tipo === '') {
				alert('Tipo deve ser informado');
				return false;
			}


			return true;

		}	
	</script>


</body>

<br /> <br /> <br />

<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Footer Content</h5>
				<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.
				</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Links</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2014 Copyright Text
			<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
		</div>
	</div>
</footer>

</html>